@import "utilities"

/* Theme .................................................................... */
html
  font-size: 16px

h2
  font-size: 3rem
  line-height: 4rem
  @media ( max-width: $width-xs )
    font-size: 1.8rem
    line-height: 2rem
  @media ( max-height: 400px )
    font-size: 2.5rem
    line-height: 3rem

@media ( max-width: 767px ) 
  html
    font-size: 13px
    line-height: 17px
  p
    line-height: 1.4rem
    margin-bottom: 0.5rem

.btn
  display: inline-block
  border: solid 2px $black
  color: $black
  line-height: 1.4rem
  padding: 0 1rem
  @include transition( color 0.3s ease )
  position: relative
  z-index: 3
  overflow: hidden
  text-align: center
  vertical-align: middle
  @include border-radius( 3px )
  &:after
    content: ''
    position: absolute
    top: 50%
    left: -10%
    width: 120%
    height: 0
    background: transparent
    z-index: -1
    @include transition( all 0.3s ease )
    @include rotate( 2deg )
  &:hover:after
    background: $black
    height: 100%
    top: 0
  &:visited
    color: $black
  &:hover
    color: $white
  &:active
    @include transform( scale( 0.97, 0.97 ))

.btn-primary
  background: $green

.btn-large
  font-size: 1.3rem
  line-height: 3rem
  padding: 0 3rem
  text-transform: uppercase
  @media ( max-width: $width-xs )
    font-size: 1.2rem
    line-height: 2rem

.btn-inverted
  color: $white
  border-color: $white
  &:hover:after
    background: $white
  &:visited
    color: $white
  &:hover
    color: $black

.dblock
  display: block

.top-bar-customizations
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 99
  .social-share
    a
      font-size: 1rem
      opacity: 0.8
      position: relative
      display: inline-block
      &:active
        @include transform( scale( 0.8 ))
      @media ( min-width: 768px )
        &:after
          content: ''
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
          z-index: -1
          @include transform( translateY( -100% ))
          @include transition( transform 0.3s )
        &:hover:after
          @include transform( translateY( 0 ))
    li:first-child a
      font-size: 0.85rem
    img
      max-height: 25px
  .muted-label
    background: transparent !important
    cursor: default
  @media ( min-width: 768px )
    .gp:hover:after
      background: rgb( 225, 38, 0 )
    .tw:hover:after
      background: rgb( 0, 181, 233 )
    .fb:hover:after
      background: rgb( 48, 93, 154 )

.pos-rel
  position: relative

body
  color: $black
  font-family: $sans-serif
  padding-top: 45px
  @media ( max-width: 767px )
    font-size: 13px
    line-height: 17px
h1, h2, h3, h4, h5, h6
  font-family: $heading-font



footer
  background: $light-gray
  background-image: url( '../img/footer.png' )
  background-image: url( '../img/footer.png' ), -o-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
  background-image: url( '../img/footer.png' ), -moz-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
  background-image: url( '../img/footer.png' ), -ms-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
  background-image: url( '../img/footer.png' ), linear-gradient(-179deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
  background-size: contain
  background-position: bottom
  background-repeat: no-repeat
  padding: 50px 0 400px 0
  position: relative
  @media ( max-width: $width-xs )
    padding-top: 20px
    background-image: url( '../img/footer-m.png' )
    background-image: url( '../img/footer-m.png' ), -o-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    background-image: url( '../img/footer-m.png' ), -moz-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    background-image: url( '../img/footer-m.png' ), -ms-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    background-image: url( '../img/footer-m.png' ), linear-gradient(-179deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
  @media ( max-height: 450px )
    padding-top: 10px
    background-image: -o-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    background-image: -moz-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    background-image: -ms-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    background-image: linear-gradient(-179deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%)
    .truck
      display: none !important
  .dblock
    margin-bottom: 10px
  h4
    font-weight: bold
  .social
    display: inline !important
  a
    display: block
    padding: 5px 0
    color: $black
    @media ( max-width: 767px )
      padding: 3px 0

  p
    @media ( max-width: 767px )
      line-height: 1.2rem
  .footer-img
    z-index: 102
  .truck
    display: none
    position: absolute
    bottom: 3%
    left: 0
    z-index: 101
    animation-duration: 10s
    -webkit-animation-duration: 10s
    animation-iteration-count: infinite
    -webkit-animation-iteration-count: infinite
    width: 70px
    @media ( min-width: 768px )
      width: 70px
    @media ( min-width: 1280px )
      width: 100px
      bottom: 7%
    @media ( min-width: 1600px )
      width: 150px
      bottom: 6%
@keyframes truckAnimation
  0%
    left: 0
  100%
    left: 100%
@-webkit-keyframes truckAnimation
  0%
    left: 0
  100%
    left: 100%

#footer-img
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  color: $white
  color: rgba( $white, 0.6 )
  padding: 0 0 10px 0
  @media ( max-width: $width-xs )
    font-size: 0.7rem
    padding-bottom: 5px
  .columns:last-child
    text-align: right


/* Home page styles ......................................................... */
#bg-video
  position: absolute
  top: 0
  left: 0
  width: auto
  height: auto
  z-index: -1
  background-size: cover
  min-width: 100%
  min-height: 100%
  @media ( max-width: $width-xs )
    display: none
  @media ( max-height: 400px )
    display: none

#above-the-fold,
#passion-wrpr,
.hp-f-life,
.hp-f-benefits,
.hp-f-works
  position: relative
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  color: $white
  h2
    color: $white

#above-the-fold
  background-color: rgba(0,0,0,0.7)
  text-align: center
  h1
    color: $white
    font-size: 4rem
    @media ( max-width: $width-xs )
      font-size: 3rem

#passion-wrpr
  background-image: url( '../img/boxes-m.jpg' )
  @media ( min-width: 768px )
    background-image: url( '../img/boxes.jpg' )
.hp-f-life
  background-image: url( '../img/brunette-m.jpg' )
  @media ( min-width: 768px )
    background-image: url( '../img/brunette.jpg' )
.hp-f-works
  background-image: url( '../img/shopper-woman-m.jpg' )
  @media ( min-width: 768px )
    background-image: url( '../img/shopper-woman.jpg' )
.hp-f-benefits
  background-image: url( '../img/gamer-m.jpg' )
  @media ( min-width: 768px )
    background-image: url( '../img/gamer.jpg' )

.fold-benefits
  text-align: center

.disp-table
  display: table
  height: 100vh
  width: 100%

.disp-tcell-vm
  display: table-cell
  vertical-align: middle

.hp-f-welcome
  h1
    margin-bottom: 3%
  .btn
#hp-scroll-up,
#hp-scroll-down
  cursor: pointer
  display: block
  position: fixed
  left: 50%
  z-index: 101
  animation-duration: 1.5s
  -webkit-animation-duration: 1.5s
  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite
  @media ( max-width: $width-xs )
    width: 20%
  @media ( max-height: 400px )
    display: none !important
#hp-scroll-up
  display: none
  top: 70px
  animation-name: scrollToTopAnim
  -webkit-animation-name: scrollToTopAnim
  @include transform( rotate( 180deg ) translateX( 50% ))
#hp-scroll-down
  bottom: 30px
  animation-name: continuousbounce
  -webkit-animation-name: continuousbounce
  @include transform( translateX( -50% ))
@keyframes scrollToTopAnim
  0%
    top: 55px
    opacity: 0.2
  90%
    top: 50px
    opacity: 0.6
  100%
    top: 55px
    opacity: 0.2
@-webkit-keyframes scrollToTopAnim
  0%
    top: 55px
    opacity: 0.2
  90%
    top: 50px
    opacity: 0.6
  100%
    top: 55px
    opacity: 0.2
@keyframes continuousbounce
  0%
    bottom: 15px
    opacity: 0.2
  90%
    bottom: 10px
    opacity: 0.6
  100%
    bottom: 15px
    opacity: 0.2
@-webkit-keyframes continuousbounce
  0%
    bottom: 15px
    opacity: 0.2
  90%
    bottom: 10px
    opacity: 0.6
  100%
    bottom: 15px
    opacity: 0.2

.hp-f-conclude,
.hp-f-videos
  background: $white
.hp-f-videos,
.hp-f-works
  text-align: center
.hp-f-welike
  h2, .row
    margin-bottom: 5%
.hp-f-conclude
  footer
    height: 100%
.hp-f-videos
  .large-6
    margin-bottom: 5px
  @media ( max-height: 400px )
    .disp-tcell-vm
      vertical-align: top
    #video-gallery
      padding: 0
      > .row
        width: 50%
        margin: 0
        float: left
      .columns
        padding: 0


.left-text-bg,
.right-text-bg
  position: absolute
  top: 0
  width: 60%
  height: 100%
  background: rgba(0,0,0,0.75)
  @media ( max-width: $width-s )
    width: 100%
    border-radius: 0 !important

.left-text-bg
  left: 0
  border-top-right-radius: 1000px
  border-bottom-right-radius: 1000px

.right-text-bg
  right: 0
  border-top-left-radius: 1000px
  border-bottom-left-radius: 1000px

/* Styles for Careers page -------------------------------------------------- */
#cc-cont,
.hidden-page
  background-color: $light-gray
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 99

#cc-cont
  .vid-desc
    margin-bottom: 1% !important

#cc-cont,
#mbb-cont
  height: 100vh
  overflow: scroll
  .vg-thumb
    display: none
    height: 50px
    background-image: none
    color: $black
    padding: 0
    font-size: 3rem
    line-height: 3.5rem
    i
      text-shadow: none
      @include transition( transform 0 )
    &:hover i
      @include transform( scale( 1, 1 ))

#video-gallery
  .vg-thumb
    position: relative
    &:after
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      font-size: 1.2rem
      padding: 2px 0
      background: rgba(0,0,0,0.5)
      @include transition( transform 0.3s )
    &:hover:after
      @include transform( translateY( 90% ))
  .v-customer-care:after
    content: 'Customer Care'
  .v-driver:after
    content: 'Transportation'
  .v-propulsion-labs:after
    content: 'Propulsion Labs'
  .v-warehouse:after
    content: 'Warehouse'

#benefits-pg
  width: 100%
  height: 100%
  background: $black
  color: $white
  background-image: url( '../img/bg-benefits-m.jpg' )
  height: 100vh
  overflow: scroll
  @media ( min-width: 768px )
    background-image: url( '../img/bg-benefits.jpg' )
  background-size: cover
  background-position: center center
  h3
    color: $white
  h4
    font-weight: bold
  p
    margin-bottom: 20px
  ul
    margin-left: 0
  @media ( max-width: 767px )
    padding-top: 50px
    .large-4,
    .large-3
      position: relative
      padding-left: 100px
      margin-bottom: 20px
    object
      position: absolute
      height: 75px
      position: absolute
      left: 10px
  h4
    color: $white
  ul
    list-style-type: none

#career-curtain
  margin: 0
  .bg-img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
  > li
    padding: 0
    position: relative
    cursor: pointer
    .pos-rel
      background: rgba(255,255,255,0.2)
  p
    display: none
  .c-shopper,
  .c-driver,
  .c-customer,
  .c-propulsio,
  .c-corporate 
    min-height: 300px
    text-align: center
    overflow: hidden
    @include transition( width 0.8s cubic-bezier(0, 1.2, 1, 1.2))
  .pos-rel
    width: 100%
    height: 100%
  .job-det
    display: none
  .caption
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  h3
    font-weight: bold
    font-size: 2rem
    position: absolute
    width: 100%
    bottom: 7%
    left: 0
    color: $white
    text-shadow: 1px 1px 1px $black
  embed
    position: absolute
    width: 40%
    left: 30%
    bottom: 20%
    @media ( min-width: $width-xl )
      width: 40%
      left: 30%
    @media (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)
      bottom: 20%
      min-height: 120px
    @media (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)
      bottom: 15%
      min-height: 120px
  > .active
    cursor: default
    .soa
      display: none
    h3
      display: none
      position: static
      font-size: 3rem
      color: $black
      text-shadow: none
      margin-top: 15%
      @media ( max-height: 600px )
        margin-top: 5%
    .caption
      color: $black
    embed
      display: none
    p
      max-width: 500px
      margin: 0 auto 3% auto
    .job-det
      display: none
  .caption
    z-index: 9
  .tab-this
    h3
      display: none

#mbb-cont
  display: none
@media ( max-width: 767px )
  #career-curtain
    > li
      min-height: 50vh !important
      width: 50% !important
      clear: none
    .bg-img
      background-position: top center
    embed
      bottom: auto
      top: 30%
      min-height: 200px
      @media ( max-height: 400px )
        display: none
    h3
      font-size: 1.3rem
  //.mc-details
  #mbb-cont
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: $light-gray
    height: 100%
    z-index: 102
    padding: 5px
    text-align: center
    embed
      display: none
    article
      display: table
      height: 100%
    .mc-details
      display: table-cell
      height: 100%
      vertical-align: middle
    .soa
      display: none

.c-shopper
  .bg-img
    backround-color: #eee
    background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/woman-latino-th-m.jpg' )
    @media ( min-width: 768px )
      background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/woman-latino-th.jpg' )
  &.active .bg-img
    background: url( '../img/woman-latino-bg.jpg' )
.c-driver
  .bg-img
    backround-color: #eee
    background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/man-th-m.jpg' )
    @media ( min-width: 768px )
      background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/man-th.jpg' )
  &.active .bg-img
    background: url( '../img/man-bg.jpg' )
.c-customer
  .bg-img
    backround-color: #eee
    background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/woman-latino-2-th-m.jpg' )
    @media ( min-width: 768px )
      background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/woman-latino-2-th.jpg' )
  &.active .bg-img
    background: url( '../img/woman-latino-2-bg.jpg' )
.c-propulsio
  .bg-img
    backround-color: #eee
    background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/man-asian-th-m.jpg' )
    @media ( min-width: 768px )
      background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/man-asian-th.jpg' )
  &.active .bg-img
    background: url( '../img/man-asian-bg.jpg' )
.c-corporate
  .bg-img
    backround-color: #eee
    background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/corporate-th-m.jpg' )
    @media ( min-width: 768px )
      background-image: linear-gradient(-179deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 45%, rgba(0,0,0,0.25) 63%, #000000 100%), url( '../img/corporate-th.jpg' )
  &.active .bg-img
    background: url( '../img/corporate-bg.jpg' )

.vg-thumb
  display: block
  height: 100px
  overflow: hidden
  background-size: cover
  background-position: center center
  font-size: 2rem
  padding-top: 2rem
  color: $white
  &:hover
    color: $white
  i
    @include transition( transform 0.3s )
    text-shadow: 0 0 50px #000
  &:hover i
    @include transform( scale( 1.3, 1.3 ))
  margin-bottom: 10px
  @media ( max-width: 767px )
    margin-bottom: 5px

.manifesto-video
  margin: auto
  display: block
  text-align: center
  width: 200px
  height: 150px
  font-size: 5rem
  color: $black
  padding: 2rem
  margin-bottom: 20px
  &:hover
    color: $black
  i
    text-shadow: none

.v-customer-care
  background-image: url( '../img/vt-customer-care.jpg' )
.v-driver
  background-image: url( '../img/vt-driver.jpg' )
.v-propulsion-labs
  background-image: url( '../img/vt-propulsion-labs.jpg' )
.v-warehouse
  background-image: url( '../img/vt-warehouse.jpg' )

.video-nav
  display: none
  position: fixed
  z-index: 102
  top: 47%
  color: rgba( $white, 0.5 )
  font-size: 2rem
  line-height: 2.5rem
#next-video
  right: 10px
#prev-video
  left: 10px

.video-gal
  position: fixed
  z-index: 103
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $black
  color: $white
  video
    width: 100%
    max-height: 100%
  div
    display: table
    height: 100%
    width: 100%
  article
    display: table-cell
    width: 100%
    height: 100%
    vertical-align: middle
.go-back-icon
  position: fixed
  top: 10px
  left: 10px
  z-index: 101
  font-size: 45px
  color: $black
  &:hover
    color: $green
    opacity: 1
  animation-duration: 2.5s
  -webkit-animation-duration: 2.5s
  animation-iteration-count: infinite
  -webkit-animation-iteration-count: infinite    
  animation-name: bounceLeftHorizontal
  -webkit-animation-name: bounceLeftHorizontal
@keyframes bounceLeftHorizontal
  0%
    left: 10px
    opacity: 0.4
  90%
    left: 5px
    opacity: 0.8
  100%
    left: 10px
    opacity: 0.4
@-webkit-keyframes bounceLeftHorizontal
  0%
    left: 10px
    opacity: 0.4
  90%
    left: 5px
    opacity: 0.8
  100%
    left: 10px
    opacity: 0.4


/* About Us page styles ----------------------------------------------------- */
.about-us
  p
    font-size: 1.1rem
    line-height: 1.9rem
    margin-bottom: 1rem
  padding-top: 320px
  @media ( min-width: 1280px )
    padding-top: 520px
  @media ( min-width: 1600px )
    padding-top: 720px
  footer
    padding-bottom: 300px
    @media ( max-width: 767px )
      padding-bottom: 150px
  h2, h3
    text-align: center
  object
    max-width: 100%

.cta
  background: #4CA580
  color: $white
  text-align: center
  padding: 4%
  .btn-inverted
    &:hover
      color: #4CA580
  .l-text
    display: inline-block
    line-height: 3rem
    font-size: 1.3rem
    border: solid 2px transparent
    margin-right: 2%
    @media ( max-width: 767px )
      line-height: 2rem

.about-us-hdg
  position: fixed
  top: 45px
  left: 0
  width: 100%
  background: #eee
  padding: 100px 0
  @media ( min-width: 1280px )
    padding: 200px 0
  @media ( min-width: 1600px )
    padding: 300px 0
  text-align: center
  z-index: 5
  @include transition( padding 0.5s )
  background-size: cover
  background-position: center center
  background-image: url( '../img/bg-img-inner-container-s.jpg' )
  @media ( min-width: 768px )
    background-image: url( '../img/bg-img-inner-container.jpg' )
  h1
    color: $white
    text-shadow: 1px 1px 1px #000
.about-us-hdg-compact
  padding: 10px 0 !important

.intro-text
  margin: 50px 0

.peapod-way
  object
    margin: 0 2% 0 0
    max-width: 100%
    &:nth-child( 2n )
      margin: 0 0 0 2%
  p
    display: table-cell
    vertical-align: middle
    font-size: 1.5rem
    line-height: 2rem
    @media ( min-width: 768px )
      font-size: 2rem
      line-height: 2.7rem
  .row
    margin-bottom: 4%


/* OnePageScroll Customisations --------------------------------------------- */
body
  .onepage-pagination
    z-index: 10
    @media ( max-width: 767px )
      right: 5px
      top: auto
      bottom: 5%
    li
      a.active:before
        box-shadow: 0px 0px 1px #fff
        border: 1px solid rgba(0,0,0,0.5)
      a:before
        box-shadow: 0px 0px 1px #fff
        background: rgba(0,0,0,0.5)
