<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cluster PDF UI</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>

        <div class="container-fluid">
            <div class="col-md-9 col-sm-12 col-xs-12 mapWrap" id="map_wrapper"></div>
            <div class="col-md-3 col-sm-12 col-xs-12 vendorAddressContainer" id="vendor_address_wrapper"></div>
        </div>

        <script type="text/html" id="mapViewTpl">
            <div class="clearfix">
                <h4 id="totalMarkerId" class="pull-left">Total Viewport Marker #: <span>0</span></h4>
                <button id="download_map" class="btn btn-primary download_button pull-right">Download</button>
            </div>

            <div id="vendorMapId"></div>
        </script>

        <script type="text/html" id="vendorViewTpl">
            <h3>Vendors</h3>
            <ul class="vendorList">
                {{#vendors}}
                <li>
                    <label class="curP">
                        <img src="{{marker_icon_url}}" class="markerIcon"/>
                        <input type="checkbox" checked="checked" value="{{id}}" class="vendorCheckox"/> {{name}}
                    </label>
                </li>
                {{/vendors}}
            </ul>
        </script>


        <!-- start vendor scripts -->
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="libs/jspdf.js"></script>
        <script src="libs/dom-to-image.js"></script>
        <script src="libs/pageLoader.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://backbonejs.org/backbone-min.js"></script>
        <script src="libs/mustache.min.js"></script>
        <!-- end vendor scripts -->

        <!-- start app scripts -->
        <script src="js/main.js"></script>
        <script src="js/data/vendor_address_list.js"></script>
        <script src="js/models/vendorAddressModel.js"></script>
        <script src="js/collections/vendorAddressCollection.js"></script>
        <script src="js/views/mapView.js"></script>
        <script src="js/views/vendorAddressView.js"></script>
        <!-- start app scripts -->
    </body>
</html>