ul, li{list-style: none;padding: 0px;}
.markerIcon{width: 18px;}
#vendorMapId {height: 500px;border: 1px solid #ccc;}
label{font-weight: normal;}
.vendorAddressContainer {  background: #f2f2f2; }
.curP{cursor: pointer;}
.mapWrap{
    padding: 0px;
    margin-top: 10px;
}
.download_button{
    margin: 5px 10px 10px;
}
.vendorAddressContainer h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 10px 0px;
}
.vendorList li{
    padding: 5px 5px 0px;
    margin-bottom: 5px;
}
.vendorList li:hover{
    background-color: #FCAF00;
}
@media (max-width: 991px) {
    .vendorAddressContainer {
        margin-top: 15px;
    }
    .vendorList li{
        float: left;
        margin-bottom: 0px;
        margin-right: 3%;
        width: 30%;
    }
}
@media (max-width: 767px) {
    .vendorList li{
        width: 47%;
    }
}

@media (max-width: 480px) {
    .vendorList li{
        width: 100%;
        margin-right: 0px;
    }
}